<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home One || Opins || Creative App Landing Page HTML Template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- main template stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>
    <div class="preloader"></div><!-- /.preloader -->
    <div class="page-wrapper">
        <header class="site-header header-one">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="index.html">
                            <img src="/static/images/logo-1-1.png" alt="Awesome Image" />
                        </a>
                        <button class="menu-toggler" data-target=".header-one .main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div><!-- /.logo-box -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="main-navigation">
                        <ul class="one-page-scroll-menu navigation-box">
                            <li class=" current scrollToLink">
                                <a href="#banner">Home</a>
                            </li>
                            <li class="scrollToLink"><a href="#service">Features</a></li>
                            <li class="scrollToLink"><a href="#features">App Screens</a></li>
                            <li class="scrollToLink"><a href="#pricing">Pricing</a></li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="right-side-box">
                        <a href="#" class="header-btn">Login</a>
                    </div><!-- /.right-side-box -->
                </div>
                <!-- /.container -->
            </nav>
        </header><!-- /.site-header -->
        <section class="banner-style-one" id="banner">
            <span class="bubble-1"></span>
            <span class="bubble-2"></span>
            <span class="bubble-3"></span>
            <span class="bubble-4"></span>
            <span class="bubble-5"></span>
            <span class="bubble-6"></span>
            <img src="/static/images/banner-moc-1-1.png" class="banner-mock" alt="Awesome Image" />
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="content-block">
                            <h3>Best Mobile App <br> Template for your <br> Business.</h3>
                            <p> Under Development Stage.</p>
                            <div class="button-block">
                                <a href="#" class="banner-btn">
                                    <i class="fa fa-play"></i>
                                    Get in<span>Google Play</span>
                                </a>
                                <a href="#" class="banner-btn">
                                    <i class="fa fa-apple"></i>
                                    Get in<span>Play Store</span>
                                </a>
                            </div><!-- /.button-block -->
                        </div><!-- /.content-block -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.banner-style-one -->
        <section class="fun-fact-style-one">
            <div class="container">
                <h3 class="title-line">Numbers Speaks Everything</h3><!-- /.title-line -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-funfact-one text-center">
                            <h3 class="counter">4789</h3>
                            <p>Downloads</p>
                        </div><!-- /.single-funfact-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-funfact-one text-center">
                            <h3 class="counter">6400</h3>
                            <p>Likes</p>
                        </div><!-- /.single-funfact-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-funfact-one text-center">
                            <h3 class="counter">900</h3>
                            <p>5 Star Rating</p>
                        </div><!-- /.single-funfact-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-funfact-one text-center">
                            <h3 class="counter">266</h3>
                            <p>Awards</p>
                        </div><!-- /.single-funfact-one -->
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.fun-fact-style-one -->
        <section class="services-style-one" id="service">
            <div class="container">
                <div class="block-title text-center">
                    <img src="/static/images/round-circle-1-1.png" alt="Awesome Image" class="wow rotateIn" data-wow-duration="1000ms" />
                    <h2>Effective tools for <br> busy administrators.</h2>
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service-one">
                            <div class="hover-block"></div><!-- /.hover-block -->
                            <i class="opins-icon-smartphone"></i>
                            <h3>High Creative App <br> Display</h3>
                            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
                            <div class="line-block"></div><!-- /.line-block -->
                            <a href="#" class="more-link">Read More</a>
                        </div><!-- /.single-service-one -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service-one">
                            <div class="hover-block"></div><!-- /.hover-block -->
                            <i class="opins-icon-smartphone-1"></i>
                            <h3>Unique and Custom <br> Options</h3>
                            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
                            <div class="line-block"></div><!-- /.line-block -->
                            <a href="#" class="more-link">Read More</a>
                        </div><!-- /.single-service-one -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-service-one">
                            <div class="hover-block"></div><!-- /.hover-block -->
                            <i class="opins-icon-smartphone-2"></i>
                            <h3>Secure and Perfect <br> Integration</h3>
                            <p>There are many variations of passages of lorem ipsum but majority have suffered.</p>
                            <div class="line-block"></div><!-- /.line-block -->
                            <a href="#" class="more-link">Read More</a>
                        </div><!-- /.single-service-one -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services-style-one -->
        <section class="feature-style-two" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-block">
                            <img src="/static/images/moc-1-1.png" alt="Awesome Image" />
                        </div><!-- /.image-block -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="content-block">
                            <div class="block-title ">
                                <img src="/static/images/round-circle-1-2.png" alt="Awesome Image" class="wow rotateIn" data-wow-duration="1000ms" />
                                <h2>Take a control on your <br> mobile app.</h2>
                            </div><!-- /.block-title -->
                            <p>Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <ul class="feature-lists">
                                <li><i class="fa fa-check"></i> Refresing to get such a personal touch. </li>
                                <li><i class="fa fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                                <li><i class="fa fa-check"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            </ul><!-- /.feature-lists -->
                            <a href="#" class="feature-btn">Learn More</a>
                        </div><!-- /.content-block -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.feature-style-two -->
        <section class="feature-style-one">
            <div class="container">
                <hr class="style-one" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content-block">
                            <div class="block-title ">
                                <img src="/static/images/round-circle-1-3.png" alt="Awesome Image" class="wow rotateIn" data-wow-duration="1000ms" />
                                <h2>Powerful tools for your <br> customers.</h2>
                            </div><!-- /.block-title -->
                            <p>Duis aute irure dolor in reprehenderit in voluptate <br> velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <ul class="feature-lists">
                                <li><i class="fa fa-check"></i> Refresing to get such a personal touch. </li>
                                <li><i class="fa fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate.</li>
                                <li><i class="fa fa-check"></i> Velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            </ul><!-- /.feature-lists -->
                            <a href="#" class="feature-btn">Learn More</a>
                        </div><!-- /.content-block -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="image-block">
                            <img src="/static/images/moc-1-2.png" alt="Awesome Image" />
                        </div><!-- /.image-block -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.feature-style-one -->
        <section class="pricing-style-one" id="pricing">
            <div class="container">
                <div class="block-title text-center">
                    <img src="/static/images/round-circle-1-4.png" alt="Awesome Image" class="wow rotateIn" data-wow-duration="1000ms" />
                    <h2>Choose plans which suits <br> your needs.</h2>
                </div><!-- /.block-title -->
                <ul class="nav nav-tabs tab-title" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#yearly" role="tab" data-toggle="tab">Yearly</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane show active  animated fadeInUp" id="monthly">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one basic-pack">
                                    <div class="top-block">
                                        <span class="price">$20.00</span>
                                        <span class="pack-name">basic pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one pro-pack">
                                    <div class="top-block">
                                        <span class="price ">$30.00</span>
                                        <span class="pack-name">Professional pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one biz-pack">
                                    <div class="top-block">
                                        <span class="price">$40.00</span>
                                        <span class="pack-name">Business pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane animated fadeInUp" id="yearly">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one basic-pack">
                                    <div class="top-block">
                                        <span class="price">$20.00</span>
                                        <span class="pack-name">basic pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one pro-pack">
                                    <div class="top-block">
                                        <span class="price ">$30.00</span>
                                        <span class="pack-name">Professional pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-pricing-one biz-pack">
                                    <div class="top-block">
                                        <span class="price">$40.00</span>
                                        <span class="pack-name">Business pack</span>
                                        <div class="line"></div><!-- /.line -->
                                    </div><!-- /.top-block -->
                                    <ul class="feature-lists">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full access</li>
                                    </ul><!-- /.feature-lists -->
                                    <div class="bottom-block">
                                        <a href="#" class="price-btn">Purchase</a>
                                        <span class="tag-line">No hidden charges!</span>
                                    </div><!-- /.bottom-block -->
                                </div><!-- /.single-pricing-one -->
                            </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.container -->
        </section><!-- /.pricing-style-one -->
        <section class="testimonials-style-one">
            <img src="/static/images/map-1-1.png" alt="Awesome Image" class="map-img" />
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="my-auto">
                            <!-- <img src="/static/images/testi-1-1.png" alt="Awesome Image" class="testi-img" /> -->
                            <div id="testimonials-slider-pager">
                                <div class="testimonials-slider-pager-one">
                                    <a href="#" class="pager-item active" data-slide-index="0"><img src="/static/images/testi-1-1.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="1"><img src="/static/images/testi-1-2.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="2"><img src="/static/images/testi-1-3.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="3"><img src="/static/images/testi-1-4.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="4"><img src="/static/images/testi-1-5.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="5"><img src="/static/images/testi-1-6.jpg" alt="Awesome Image" /></a>
                                </div><!-- /.testimonials-slider-pager-one -->
                                <div class="testimonials-slider-pager-two">
                                    <a href="#" class="pager-item active" data-slide-index="0"><img src="/static/images/testi-1-1.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="1"><img src="/static/images/testi-1-2.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="2"><img src="/static/images/testi-1-3.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="3"><img src="/static/images/testi-1-4.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="4"><img src="/static/images/testi-1-5.jpg" alt="Awesome Image" /></a>
                                    <a href="#" class="pager-item" data-slide-index="5"><img src="/static/images/testi-1-6.jpg" alt="Awesome Image" /></a>
                                </div><!-- /.testimonials-slider-pager-two -->
                            </div><!-- /#testimonials-slider-pager -->
                        </div><!-- /.my-auto -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="block-title ">
                            <img src="/static/images/round-circle-1-6.png" alt="Awesome Image" class="wow rotateIn" data-wow-duration="1000ms" />
                            <h2>What’s our clients are <br> saying.</h2>
                        </div><!-- /.block-title -->
                        <ul class="slider testimonials-slider">
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Delila Rayam</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Terrilyn Werme</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Kyle Demayo</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Minta Hadad</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Sherman Cibrian</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                            <li class="slide-item">
                                <div class="single-testi-one">
                                    <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <h3>Adrianne Hagans</h3>
                                </div><!-- /.single-testi-one -->
                            </li>
                        </ul>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.testimonials-style-one -->
        
      
       
        <footer class="site-footer">
            <span class="bubble-1"></span>
            <span class="bubble-2"></span>
            <span class="bubble-3"></span>
            <span class="bubble-4"></span>
            <span class="bubble-5"></span>
            <span class="bubble-6"></span>
            <div class="container">
                <div class="inner-container">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <a href="index.html"><img src="/static/images/logo-1-1.png" alt="Awesome Image" /></a>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h3>Address</h3>
                                </div><!-- /.widget-title -->
                                <ul class="contact-list">
                                    <li>888 999 0000</li>
                                    <li>needhelp@opins.com</li>
                                    <li>855 road, broklyn street <br>
                                        new york 600</li>
                                </ul><!-- /.contact-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h3>Explore</h3>
                                </div><!-- /.widget-title -->
                                <ul class="links-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">How It Works</a></li>
                                </ul>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h3>Links</h3>
                                </div><!-- /.widget-title -->
                                <ul class="links-list">
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Clients</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h3>Follow</h3>
                                </div><!-- /.widget-title -->
                                <div class="social-block">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div><!-- /.social-block -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </footer><!-- /.site-footer -->
        <div class="bottom-footer text-center">
            <div class="container">
                <p>&copy; copyright 2019 by <a href="#">Layerdrops.com</a></p>
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->
    </div><!-- /.page-wrapper -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- /.scroll-to-top -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.bxslider.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>